<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
  <meta charset="utf-8" />
  <meta robots="none" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/ippc/work/templates.css" type="text/css" media="screen" />
  <title>HTML &amp; CSS Templates - IPPC Design Docs 2021–2022</title>
</head>

<body>
  <a id="switch" title="Toggle webpage lights.">☼ ☾</a>

  <p class="crumbs"><a href="../index.html">IPPC Design Docs 2021–2022</a> &rarr; HTML &amp; CSS Templates</p>

  <h1>HTML &amp; CSS Templates</h1>

  <p><abbr title="Hypertext Markup Language">HTML</abbr> and <abbr title="Cascading Stylesheets">CSS</abbr> templates for the IPPC website including layout, typography, form and table elements, colors, iconography, etc.</p> 
  <p>As with the <a href="https://design-system.fao.org/">FAO design system</a>, uses the <a href="https://getbootstrap.com/">Bootstrap</a> framework.</p> 

  <ul>
        <!-- <li><a href="assets/">assets</a></li> -->
    <li>Generic <a href="page-single/"><strong>Single Page Template</strong></a> with various elements.</li>
    <li><a href="about/index.html">About</a> page.</li>
    <li>News index and <a href="news/single.html">detail page</a>.</li>
    <li><a href="standards/ispm15.html">Standards detail page</a>.</li>
    <li><a href="commission/index.html">CPM-16 Page</a> (table of documents examples).</li>
    <li>Countries index page and <a href="countries/australia.html">detail page</a>.</li>
    <li><a href="resources/index.html">Resources</a> section index.</li>
    <li>Homepage (carousel, etc).</li>
    <!-- <li><a href="album/">album</a></li>
    <li><a href="album-rtl/">album-rtl</a></li>
    <li><a href="blog/">blog</a></li>
    <li><a href="blog-rtl/">blog-rtl</a></li>
    <li><a href="carousel/">carousel</a></li>
    <li><a href="carousel-rtl/">carousel-rtl</a></li>
    <li><a href="cheatsheet/">cheatsheet</a></li>
    <li><a href="cheatsheet-rtl/">cheatsheet-rtl</a></li>
    <li><a href="checkout/">checkout</a></li>
    <li><a href="checkout-rtl/">checkout-rtl</a></li>
    <li><a href="cover/">cover</a></li>
    <li><a href="dashboard/">dashboard</a></li>
    <li><a href="dashboard-rtl/">dashboard-rtl</a></li>
    <li><a href="dropdowns/">dropdowns</a></li>
    <li><a href="features/">features</a></li>
    <li><a href="footers/">footers</a></li>
    <li><a href="grid/">grid</a></li>
    <li><a href="headers/">headers</a></li>
    <li><a href="heroes/">heroes</a></li>
    <li><a href="jumbotron/">jumbotron</a></li>
    <li><a href="list-groups/">list-groups</a></li>
    <li><a href="masonry/">masonry</a></li>
    <li><a href="modals/">modals</a></li>
    <li><a href="navbar-bottom/">navbar-bottom</a></li>
    <li><a href="navbar-fixed/">navbar-fixed</a></li>
    <li><a href="navbar-static/">navbar-static</a></li>
    <li><a href="navbars/">navbars</a></li>
    <li><a href="offcanvas/">offcanvas</a></li>
    <li><a href="offcanvas-navbar/">offcanvas-navbar</a></li>
    <li><a href="pricing/">pricing</a></li>
    <li><a href="product/">product</a></li>
    <li><a href="sidebars/">sidebars</a></li>
    <li><a href="sign-in/">sign-in</a></li>
    <li><a href="starter-template/">starter-template</a></li>
    <li><a href="sticky-footer/">sticky-footer</a></li>
    <li><a href="sticky-footer-navbar/">sticky-footer-navbar</a></li> -->
  </ul>
  
  <p class="note"><strong>=todo:</strong> 
    <br>¶ More page examples once this initial one is approved
    <br>¶ Help Paola with implementation as needed
    <br>¶ Feature grid, homepage
    <br>¶ Illustrations
    <br>¶ Carousel
  </p>
    
  <hr>
  
  <p>
    <em>Updated on 2022-09-29</em>
  </p>
  <script src="/ippc/work/scripts.js"></script>  
</body>
</html>